<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple and Easy UTM Builder</title>
    <meta name="descripiton" content="Quickly create multiple UTM tagged links for one URL">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31184713-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-31184713-18');
    </script>
  </head>
  <body>
  <div id="app">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8 has-text-centered">
            <h1 class="title">
              Simple and Easy UTM Builder
            </h1>
            <p class="subtitle">
              Quickly create multiple UTM tagged links for one URL
            </p>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container content">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
          <div class="field">
            <h2>Website URL</h2>
            <div class="control">
              <input class="input" type="url" placeholder="http://..." v-model="websiteURL">
            </div>
          </div>

          <h2>Where will you share this link?</h2>

          <p>Social</p>
          <div class="buttons">
            <button class="button is-info" v-for="button of socialButtons" v-bind:class="{ 'is-active': button.selected, 'is-outlined': !button.selected }" @click="button.selected = !button.selected" v-bind:title="button.source + ' / ' + button.medium">
              <span class="icon">
                <i class="fab" :class="button.icon"></i>
              </span>
              <p>{{ button.name }}</p>
            </button>
          </div>

          <p>Paid Search</p>
          <div class="buttons">
            <button class="button is-primary" v-for="button of paidSearchButtons" v-bind:class="{ 'is-active': button.selected, 'is-outlined': !button.selected }" @click="button.selected = !button.selected" v-bind:title="button.source + ' / ' + button.medium">
              <span class="icon">
                <i class="fab" :class="button.icon"></i>
              </span>
              <p>{{ button.name }}</p>
            </button>
          </div>

          <p>Paid Social <i>(only if you have Google Analytics <a href="https://www.annielytics.com/blog/analytics/track-social-ads-google-analytics/" target="_blank" rel="noopener">configured for it</a>)</i></p>
          <div class="buttons">
            <button class="button is-link" v-for="button of paidSocialButtons" v-bind:class="{ 'is-active': button.selected, 'is-outlined': !button.selected }" @click="button.selected = !button.selected" v-bind:title="button.source + ' / ' + button.medium">
              <span class="icon">
                <i class="fab" :class="button.icon"></i>
              </span>
              <p>{{ button.name }}</p>
            </button>
          </div>

          <p>Other Advertising <i>(default in Google Analytics)</i></p>
          <div class="buttons">
            <button class="button is-primary" v-for="button of paidOtherButtons" v-bind:class="{ 'is-active': button.selected, 'is-outlined': !button.selected }" @click="button.selected = !button.selected" v-bind:title="button.source + ' / ' + button.medium">
              <span class="icon">
                <i class="fab" :class="button.icon"></i>
              </span>
              <p>{{ button.name }}</p>
            </button>
          </div>

          <p>Own media</p>
          <div class="buttons">
            <button class="button is-success" v-for="button of ownMediaButtons" v-bind:class="{ 'is-active': button.selected, 'is-outlined': !button.selected }" @click="button.selected = !button.selected" v-bind:title="button.source + ' / ' + button.medium">
              <span class="icon">
                <i class="fa" :class="button.icon"></i>
              </span>
              <p>{{ button.name }}</p>
            </button>
          </div>

          <p>Custom</p>
          <div class="columns" v-for="custom of customButtons">
            <div class="column">
              <div class="field">
                <label class="label">UTM Source</label>
                <div class="control">
                  <input class="input" type="text" v-model="custom.source">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">UTM Medium</label>
                <div class="control">
                  <input class="input" type="text" v-model="custom.medium">
                </div>
              </div>
            </div>
            <div class="column is-narrow">
              <div class="field">
                <label class="label">&nbsp;</label>
                <div class="control">
                  <button class="button is-danger is-outlined" @click="removeCustom(custom)">
                    <span class="icon">
                      <i class="fa fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button class="button" @click="addCustom">Add custom source/medium</button>

        </div>
        <div class="column"></div>
      </div>
    </div>
    </section>
    <section class="section">
      <div class="container content">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <h3>Optional UTM tags</h3>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">UTM Campaign</label>
                  <div class="control">
                    <input class="input" type="text" v-model="utm_campaign">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">UTM Content</label>
                  <div class="control">
                    <input class="input" type="text" v-model="utm_content">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">UTM Term</label>
                  <div class="control">
                    <input class="input" type="text" v-model="utm_term">
                  </div>
                </div>
              </div>
            </div>
            <h3>Advanced options</h3>
            <label class="checkbox">
              <input type="checkbox" v-model="caseSensitive">
                Case sensitive
            </label>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container content">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <h2>Results</h2>
            <div class="table-container">
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Tagged URL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="element in table">
                    <td>{{ element.name }}</td>
                    <td>{{ element.url }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button class="button" @click="downloadCSV">Download table as CSV</button>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <hr />
            <p>Questions? Feature requests? Email me at <a href="mailto:patryk@patrykkalinowski.com">patryk@patrykkalinowski.com</a> |  <a href="https://patrykkalinowski.com">Patryk Kalinowski</a></p>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </div>
  <script src="index.js"></script>
  </body>
</html>